global
  chroot /var/lib/haproxy
  user haproxy
  group haproxy
  daemon

frontend k3s-frontend
  bind :6443
  mode tcp
  option tcplog
  default_backend k3s-backend

backend k3s-backend
  mode tcp
  option tcp-check
  balance roundrobin
  default-server inter 10s downinter 5s
  server ctrl0 10.10.10.20:6443 check
  server ctrl1 10.10.10.21:6443 check
