#cloud-config

users:
  - name: janitor
    groups: sudo
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: true
    ssh_authorized_keys:
      - ${ssh_key}

disable_root: true
ssh_pwauth: false

growpart:
  mode: auto
  devices: ['/']

package_update: true
package_upgrade: true
package_reboot_if_required: true
packages:
- python3-netaddr
